/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; for 1rem=10px, actual 1 rem=16px*/
  font-size: 62.5%; /*percentage of users browser fontsize setting*/
}
body {
  font-family: sans-serif;
  color: rgb(56, 44, 44);
  line-height: 1.5; /*gap between lines */
  font-weight: 400;
}
/*Section-1*/
.section-1-intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 130rem;
  background-color: rgba(231, 212, 186, 0.827);
  margin: 0 auto;
}
.myphoto {
  width: 100%;
}
.section-1-text {
  font-size: 2.5rem;
}
.trainee {
  color: rgba(56, 44, 44, 0.623);
}
