/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; for 1rem=10px, actual 1 rem=16px*/
  font-size: 62.5%; /*percentage of users browser fontsize setting*/
  scroll-behavior: smooth;
}
body {
  font-family: "inter", sans-serif;
  color: rgb(56, 44, 44);
  line-height: 1.5; /*gap between lines */
  font-weight: 400;
}
/*Section-1*/
/*header*/
.header {
  display: flex;
  position: sticky;
  top: 0; /*for header to stay while scrolling*/
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /*because we want header to be sticky later*/
  height: 9.6rem;
  padding: 0 3rem;
}
.portfolio {
  font-size: 4rem;
  margin-left: 3rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: rgb(56, 44, 44);
  font-weight: 1.8rem;
  font-size: 2.5rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  background-color: rgba(56, 44, 44, 0.237);
  padding: 1rem 1rem;
  border-radius: 1.2rem;
}
/*main body section 1*/
.section-1 {
  background-color: rgba(231, 212, 186, 0.621);
}
.section-1-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  column-gap: 6rem;
  margin: 0 auto;
  justify-content: center;
  align-item: center;
}
.myphoto {
  width: 70%;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  justify-self: center;
}
.section-1-text {
  font-size: 2.5rem;
  letter-spacing: -0.9px;
  margin-top: 20rem;
}
.trainee {
  color: rgba(56, 44, 44, 0.645);
  line-height: 3rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(56, 44, 44, 0.623);
  font-size: 2rem;
  color: #fff;
  padding: 1rem 1rem;
  border-radius: 1.2rem;
  transition: all 0.3s; /*change color gradually*/
}
.btn:hover,
.btn:active {
  background-color: #290e14;
}
/*REUSABLE GRID for About Me section*/
.section-how {
  padding: 5rem 5rem;
  background-color: #fff;
  column-gap: 0rem;
  row-gap: 0rem;
}
.grid {
  display: grid;
  gap: 1rem;
  row-gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
}
.section-how div {
  padding: 1rem;
  font-size: 5rem;
}
.section-how div:nth-child(1) {
  background-color: #fff;
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
  height: 1rem;
  padding: 4rem 8rem;
  font-size: 3rem;
  color: rgba(56, 44, 44, 0.855);
  text-decoration: underline;
}
.about-me-text {
  align-self: center;
  justify-self: center;
  padding: 3rem;
  font-size: 2rem;
  border-style: solid;
  border-color: rgba(57, 54, 54, 0.267);
  border-radius: 3rem;
}
.section-how div:nth-child(2) {
  background-color: #fff;
  grid-column: 1/-1;
  height: 8rem;

  padding: 3rem;
  font-size: 2rem;
}
.section-how div:nth-child(3) {
  background-color: #fff;
  padding: 3rem;
  font-size: 2rem;
  height: 8rem;
}
.section-how div:nth-child(4) {
  background-color: #fff;
  padding: 3rem;
  font-size: 2rem;
  height: 8rem;
  margin-bottom: 10rem;
}
/*------------------Section3-------------------------*/
.skill-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 5rem;
  padding: 5rem 5rem;
  background-color: rgba(231, 212, 186, 0.621);
  column-gap: 40rem;
  row-gap: 30rem;
  height: 60rem;
}
.grid1 {
  display: grid;
  column-gap: 1rem;
  row-gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}
.skill-section div {
  padding: 3rem;
  font-size: 5rem;
  height: 40rem;
  width: 30rem;
  justify-self: center;
  align-self: center;
  border-radius: 2rem;
}
.skill-section div:nth-child(1) {
  background-color: rgba(231, 212, 186, 0);
  border: none;
  margin: none;
  padding: none;
  grid-column: 1/-1;
  justify-self: start;
  align-self: center;
  height: 8rem;
  margin-left: 5rem;
  font-size: 2rem;
  line-height: 3rem;
  color: rgba(56, 44, 44, 0.69);
}
.skill-heading {
  font-size: 4rem;
}
.volleyteam {
  padding-right: 2.7rem;
  width: 27rem;
  height: 15rem;
}
.skill-section div:nth-child(2) {
  background-color: #fff;
  grid-column: 1/2;

  padding: 3rem;
  font-size: 2rem;
}
.javalogo {
  padding-right: 2.7rem;
  width: 27rem;
}
.skill-section div:nth-child(3) {
  background-color: #fff;
  grid-column: 2/3;

  padding: 3rem;
  font-size: 2rem;
}
.skill-section div:nth-child(4) {
  background-color: #fff;
  grid-column: 3/4;

  padding: 3rem;
  font-size: 2rem;
}
.photography {
  padding-right: 2.7rem;
  width: 27rem;
  height: 16rem;
}
.insta-page-btn:link,
.insta-page-btn:visited {
  text-decoration: none;
  font-weight: 1.8rem;
  font-size: 1.5rem;
  transition: all 0.3s;
  padding: 0.5rem;
  border-radius: 2rem;
  color: rgba(56, 44, 44, 0.855);
  background-color: rgba(168, 167, 167, 0.137);
}
.insta-page-btn:hover,
.insta-page-btn:active {
  background-color: rgba(231, 212, 186, 0.299);
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 2rem;
  font-size: 1.8rem;
}
/*----------Card and card text------------------------*/
.card {
  box-shadow: 0 1rem 1rem 0 rgba(56, 44, 44, 0.855);
}
/*----------------------Contact Me-----------------------------*/
.contact-section {
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: 5rem 5rem;
  background-color: rgba(231, 212, 186, 0.621);
  height: 60rem;
}
.grid2 {
  display: grid;
  row-gap: 3rem;
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}
.contact-section div {
  padding: 2rem;
  justify-self: center;
  align-self: center;
  border-radius: 2rem;
}
.contact-section div:nth-child(1) {
  matgin-bottom: 0;
  padding: 2rem;
  font-size: 2.5rem;
}
.contact-section div:nth-child(2) {
  background-color: #fff;
  height: 40rem;
  width: 45rem;
  padding: 3rem;
  font-size: 2rem;
  margin-top: 0;
  box-shadow: 0 1rem 1rem 0 rgba(56, 44, 44, 0.855);
}
/*---------------------Form Design-----------------------------*/
.label-name {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 1.5rem;
}
.form-name {
  padding: 1rem;
  margin: 0 1rem 2rem 1rem;

  width: 100%;
  border-radius: 1rem;
}
.label-email {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 1.5rem;
}
.form-email {
  padding: 1rem;
  margin: 0 1rem 2rem 1rem;

  width: 100%;
  border-radius: 1rem;
}
.label-message {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 1.5rem;
}
.form-message {
  padding: 1rem;
  margin: 0 1rem 2rem 1rem;
  width: 100%;

  border-radius: 1rem;
}
