/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; for 1rem=10px, actual 1 rem=16px*/
  font-size: 62.5%; /*percentage of users browser fontsize setting*/
}
body {
  font-family: "inter", sans-serif;
  color: rgb(56, 44, 44);
  line-height: 1.5; /*gap between lines */
  font-weight: 400;
}
/*Section-1*/
/*header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /*because we want header to be sticky later*/
  height: 9.6rem;
  padding: 0 3rem;
}
.portfolio {
  font-size: 4rem;
  margin-left: 3rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: rgb(56, 44, 44);
  font-weight: 1.8rem;
  font-size: 2.5rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  background-color: rgba(56, 44, 44, 0.237);
  padding: 1rem 1rem;
  border-radius: 1.2rem;
}
/*main body section 1*/
.section-1 {
  background-color: rgba(231, 212, 186, 0.621);
}
.section-1-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  column-gap: 6rem;
  margin: 0 auto;
  justify-content: center;
  align-item: center;
}
.myphoto {
  width: 70%;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  justify-self: center;
}
.section-1-text {
  font-size: 2.5rem;
  letter-spacing: -0.9px;
  margin-top: 20rem;
}
.trainee {
  color: rgba(56, 44, 44, 0.623);
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1rem;
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(56, 44, 44, 0.623);
  font-size: 2rem;
  color: #fff;
  padding: 1rem 1rem;
  border-radius: 1.2rem;
  transition: all 0.3s; /*change color gradually*/
}
.btn:hover,
.btn:active {
  background-color: #290e14;
}
/*REUSABLE GRID for About Me section*/
.section-how {
  padding: 5rem 5rem;
  background-color: blue;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
}
.section-how div {
  padding: 10rem;
  font-size: 5rem;
}
.section-how div:nth-child(1) {
  background-color: red;
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
  height: 1rem;
  padding: 4rem 8rem;
  font-size: 3rem;
}
.about-me-text {
  align-self: center;
  justify-self: center;
  padding: 3rem;
  font-size: 2rem;
}
.section-how div:nth-child(2) {
  background-color: greenyellow;
  grid-column: 1/-1;

  padding: 3rem;
  font-size: 2rem;
}
.section-how div:nth-child(3) {
  background-color: green;
  padding: 3rem;
  font-size: 2rem;
}
.section-how div:nth-child(4) {
  background-color: grey;
  padding: 3rem;
  font-size: 2rem;
}
